<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="favicon.ico" />
        <title>Tmp3D</title>
        <style type="text/css">
            body {
                background-color: #2B2B2B;
                text-align: center;
            }

            #canvas {
                border-top: 4px solid #131313;
                border-left: 4px solid #131313;
                border-right: 4px solid #5c5c5c;
                border-bottom: 4px solid #5c5c5c;
                cursor: pointer;
            }

            #canvas:-webkit-full-screen {
                width: 75vw;
                height: 100vh;
            }
        </style>
        <%_ if (env.debugMode) { _%>
        <script>window.__DEBUG_MODE__ = 1;</script>
        <%_ } _%>
        <script>window.__VERSION__ = "<%= env.version _%>";</script>
    </head>
    <body>
        <canvas id="canvas" height="480px" width="640px"></canvas>
        <script type="text/javascript" src="/data/mesh/d_doom-e1m1.js"></script>
        <script type="text/javascript" src="/data/d_player.js"></script>
        <script type="text/javascript" src="/data/d_textures.js"></script>
        <script type="text/javascript" src="/game/g_const.js"></script>
        <script type="text/javascript" src="/engine/m_math.js"></script>
        <script type="text/javascript" src="/engine/m_vec3.js"></script>
        <script type="text/javascript" src="/engine/m_mat4.js"></script>
        <script type="text/javascript" src="/engine/m_tri3.js"></script>
        <script type="text/javascript" src="/engine/m_collision3.js"></script>
        <script type="text/javascript" src="/engine/i_input.js"></script>
        <script type="text/javascript" src="/engine/r_screen.js"></script>
        <script type="text/javascript" src="/engine/r_draw.js"></script>
        <script type="text/javascript" src="/engine/a_assets.js"></script>
        <script type="text/javascript" src="/engine/an_animation.js"></script>
        <script type="text/javascript" src="/engine/r_drawers.js"></script>
        <script type="text/javascript" src="/engine/r_camera.js"></script>
        <script type="text/javascript" src="/engine/r_geometry.js"></script>
        <script type="text/javascript" src="/game/g_setup.js"></script>
        <script type="text/javascript" src="/game/g_run.js"></script>
        <script type="text/javascript" src="/game/g_main.js"></script>
    </body>
</html>
