<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="ico" sizes="16x15" href="favicon_16x15.ico">
        <link rel="icon" type="ico" sizes="32x30" href="favicon_32x30.ico">
        <link rel="icon" type="ico" sizes="96x91" href="favicon_96x91.ico">
        <link rel="shortcut icon" href="favicon.ico" />
        <title>Tmp3D | By Emre Akı</title>
        <style type="text/css">
            body {
                background-color: #101010;
                text-align: center;
            }

            #canvas {
                border: 5px solid #000000;
                cursor: pointer;
            }

            #canvas:-webkit-full-screen {
                width: 75vw;
                height: 100vh;
            }
        </style>
        <%_ if (env.debugMode) { _%>
        <script>window.__DEBUG_MODE__ = 1;</script>
        <%_ } _%>
    </head>
    <body>
        <canvas id="canvas" height="480px" width="640px"></canvas>
        <script type="text/javascript" src="/data/d_mesh.js"></script>
        <script type="text/javascript" src="/data/d_player.js"></script>
        <script type="text/javascript" src="/data/d_textures.js"></script>
        <script type="text/javascript" src="/game/g_const.js"></script>
        <script type="text/javascript" src="/engine/m_math.js"></script>
        <script type="text/javascript" src="/engine/m_vec3.js"></script>
        <script type="text/javascript" src="/engine/m_mat4.js"></script>
        <script type="text/javascript" src="/engine/m_tri3.js"></script>
        <script type="text/javascript" src="/engine/i_input.js"></script>
        <script type="text/javascript" src="/engine/r_screen.js"></script>
        <script type="text/javascript" src="/engine/r_draw.js"></script>
        <script type="text/javascript" src="/engine/an_animation.js"></script>
        <script type="text/javascript" src="/engine/r_drawers.js"></script>
        <script type="text/javascript" src="/engine/r_camera.js"></script>
        <script type="text/javascript" src="/engine/r_geometry.js"></script>
        <script type="text/javascript" src="/engine/a_assets.js"></script>
        <script type="text/javascript" src="/game/g_setup.js"></script>
        <script type="text/javascript" src="/game/g_run.js"></script>
        <script type="text/javascript" src="/game/g_main.js"></script>
    </body>
</html>
