<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="favicon.ico" />
        <title>Tmp3D | By Emre Akı</title>
        <style type="text/css">
            body {
                background-color: #101010;
                text-align: center;
            }

            #canvas {
                border: 5px solid #000000;
                cursor: pointer;
            }

            #canvas:-webkit-full-screen {
                width: 75vw;
                height: 100vh;
            }
        </style>
    </head>
    <body>
        <canvas id="canvas" height="480px" width="640px"></canvas>
        <script type="text/javascript" src="/game/g_const.js"></script>
        <script type="text/javascript" src="/engine/m_math.js"></script>
        <script type="text/javascript" src="/engine/m_vec3.js"></script>
        <script type="text/javascript" src="/engine/m_mat4.js"></script>
        <script type="text/javascript" src="/engine/m_tri3.js"></script>
        <script type="text/javascript" src="/engine/r_geometry.js"></script>
        <script type="text/javascript" src="/engine/i_input.js"></script>
        <script type="text/javascript" src="/engine/r_screen.js"></script>
    </body>
</html>
